@import "tailwindcss";

/* 스포카 한 산스 네오 폰트 설정 */
@font-face {
	font-family: "Spoqa Han Sans Neo";
	src: url("./assets/fonts/SpoqaHanSansNeo-Medium.woff2") format("woff2");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Spoqa Han Sans Neo";
	src: url("./assets/fonts/SpoqaHanSansNeo-Bold.woff2") format("woff2");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

html {
	font-size: 62.5%; /* 1rem = 10px 설정 */
}

@theme {
	/* 기본 폰트 설정 */
	--font-family-base: "Spoqa Han Sans Neo", system-ui, sans-serif;

	/* grayscale */
	--color-grayscale-white: #ffffff;
	--color-grayscale-100: #f1f5f9;
	--color-grayscale-200: #e2e8f0;
	--color-grayscale-300: #cbd5e1;
	--color-grayscale-400: #94a3b8;
	--color-grayscale-500: #6b7280;
	--color-grayscale-700: #475569;
	--color-grayscale-black: #1e293b;

	/* primary(blue) */
	--color-primary-main: #3b82f6;
	--color-primary-light: #dbeafe;
	--color-primary-dark: #1d4ed8;

	/* notification(red) */
	--color-notification-strong: #ef4444;
	--color-notification-medium: #f87171;
	--color-notification-light: #fee2e2;

	/* category */
	--color-category-red: #ff9999;
	--color-category-orange: #ffbb80;
	--color-category-amber: #ffe080;
	--color-category-green: #99d9b3;
	--color-category-teal: #80cccc;
	--color-category-cyan: #80ccff;
	--color-category-purple: #c299ff;
	--color-category-pink: #ff99c2;
	--color-category-gray: #b3b3b3;
}

/* 타이포그래피 커스텀 유틸리티 */
@utility text-bold-l {
	font-weight: 700;
	font-size: 2.4rem;
	line-height: auto;
	font-family: var(--font-family-base);
}

@utility text-bold-m {
	font-weight: 700;
	font-size: 1.6rem;
	line-height: auto;
	font-family: var(--font-family-base);
}

@utility text-bold-r {
	font-weight: 700;
	font-size: 1.4rem;
	line-height: auto;
	font-family: var(--font-family-base);
}

@utility text-bold-s {
	font-weight: 700;
	font-size: 1.2rem;
	line-height: auto;
	font-family: var(--font-family-base);
}

@utility text-medium-m {
	font-weight: 500;
	font-size: 1.6rem;
	line-height: 2.2rem;
	font-family: var(--font-family-base);
}

@utility text-medium-r {
	font-weight: 500;
	font-size: 1.4rem;
	line-height: 2.2rem;
	font-family: var(--font-family-base);
}

@utility text-medium-s {
	font-weight: 500;
	font-size: 1.2rem;
	line-height: auto;
	font-family: var(--font-family-base);
}

body {
	font-family: var(--font-family-base);
}
