@import "tailwindcss";

html {
	font-size: 62.5%; /* 1rem = 10px 설정 */
}

@theme {
	/* grayscale */
	--color-grayscale-white: #ffffff;
	--color-grayscale-100: #f1f5f9;
	--color-grayscale-200: #e2e8f0;
	--color-grayscale-300: #cbd5e1;
	--color-grayscale-400: #94a3b8;
	--color-grayscale-500: #6b7280;
	--color-grayscale-700: #475569;
	--color-grayscale-black: #1e293b;

	/* primary(blue) */
	--color-primary-main: #3b82f6;
	--color-primary-light: #dbeafe;
	--color-primary-dark: #1d4ed8;

	/* notification(red) */
	--color-notification-strong: #ef4444;
	--color-notification-medium: #f87171;
	--color-notification-light: #fee2e2;

	/* category */
	--color-category-red: #ff9999;
	--color-category-orange: #ffbb80;
	--color-category-amber: #ffe080;
	--color-category-green: #99d9b3;
	--color-category-teal: #80cccc;
	--color-category-cyan: #80ccff;
	--color-category-purple: #c299ff;
	--color-category-pink: #ff99c2;
	--color-category-gray: #b3b3b3;
}
